@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  --green: #b4e0af;
  --black: #201f25;
  --grey: #5e6973;
  --white: white;
}

body {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  background-color: var(--black);
  color: white;
}

.generator__title {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  color: var(--grey);
}

.generator__container {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 60%;
  height: 4rem;
  background-color: var(--grey);
}

.generated__key {
  color: var(--white);
  font-size: 1.5rem;
}

.copy-btn {
  height: 35%;
  filter: invert(89%) sepia(11%) saturate(726%) hue-rotate(64deg) brightness(95%) contrast(89%);
}

.input__container {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  width: 60%;
  margin: 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#output {
  color: var(--green);
  font-size: 2rem;
}

.slider {
  margin: 1rem 0 2rem 0;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: var(--black);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.checkbox__container {
  margin: 0.5rem 0;
}

.strenght__container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  height: 2rem;
  background-color: var(--black);
}

.strenght__title{
  color: var(--grey);
  align-self: center;
}

.strenght-indicator__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strenght-bar {
  height: 100%;
  width: 10px;
  border: 2px solid var(--white);
  margin: 0 0 0 0.5rem;
}

.generator_btn {
  padding: 2rem;
  background-color: var(--green);
  border: none;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  background-image: url(../Images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 60%;
  background-size: 3%;
}
